/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Not needed atm
tests/
storage/
public/
resources/
bootstrap/
.env.example
database/factories/
database/seeders
phpunit.xml